USE [master]
GO
/****** Object:  Database [sala_de_escape]    Script Date: 26/8/2026 08:21:23 ******/
CREATE DATABASE [sala_de_escape]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sala_de_escape', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sala_de_escape.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sala_de_escape_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\sala_de_escape_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sala_de_escape].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sala_de_escape]
GO
/****** Object:  User [alumno]    Script Date: 26/8/2026 08:21:23 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 26/8/2026 08:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK__Particip__3214EC071F1AC53E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 26/8/2026 08:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Partida__3214EC07CA40B4DE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestaPorSala]    Script Date: 26/8/2026 08:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaPorSala](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartidaId] [int] NOT NULL,
	[SalaId] [int] NOT NULL,
	[IntentoNumero] [int] NOT NULL,
	[RespuestaTexto] [varchar](max) NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
 CONSTRAINT [PK__Respuest__3214EC075B7F8AA9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 26/8/2026 08:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Activa] [bit] NULL,
 CONSTRAINT [PK__Sala__3214EC0770A8BA0E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaEstado]    Script Date: 26/8/2026 08:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaEstado](
	[PartidaId] [int] NOT NULL,
	[SalaId] [int] NOT NULL,
	[Resuelta] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[IdSalaEstado] [int] NOT NULL,
 CONSTRAINT [PK_SalaEstado] PRIMARY KEY CLUSTERED 
(
	[IdSalaEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sala] ON 

INSERT [dbo].[Sala] ([Id], [Numero], [Nombre], [Activa]) VALUES (1, 1, N'Sala 1 - Entrada', NULL)
INSERT [dbo].[Sala] ([Id], [Numero], [Nombre], [Activa]) VALUES (2, 2, N'Sala 2 - Biblioteca', NULL)
INSERT [dbo].[Sala] ([Id], [Numero], [Nombre], [Activa]) VALUES (3, 3, N'Sala 3 - Laboratorio', NULL)
SET IDENTITY_INSERT [dbo].[Sala] OFF
GO
/****** Object:  Index [UQ_Sala_Numero]    Script Date: 26/8/2026 08:21:23 ******/
ALTER TABLE [dbo].[Sala] ADD  CONSTRAINT [UQ_Sala_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Participante] ADD  CONSTRAINT [DF__Participa__Fecha__412EB0B6]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Partida] ADD  CONSTRAINT [DF__Partida__FechaIn__440B1D61]  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Partida] ADD  CONSTRAINT [DF__Partida__Estado__44FF419A]  DEFAULT ('EnCurso') FOR [Estado]
GO
ALTER TABLE [dbo].[SalaEstado] ADD  CONSTRAINT [DF__SalaEstad__Resue__4CA06362]  DEFAULT ((0)) FOR [Resuelta]
GO
ALTER TABLE [dbo].[SalaEstado] ADD  CONSTRAINT [DF__SalaEstad__Inten__4D94879B]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participante] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Participante]
GO
ALTER TABLE [dbo].[RespuestaPorSala]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Partida] FOREIGN KEY([PartidaId])
REFERENCES [dbo].[Partida] ([Id])
GO
ALTER TABLE [dbo].[RespuestaPorSala] CHECK CONSTRAINT [FK_Respuesta_Partida]
GO
ALTER TABLE [dbo].[RespuestaPorSala]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Sala] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([Id])
GO
ALTER TABLE [dbo].[RespuestaPorSala] CHECK CONSTRAINT [FK_Respuesta_Sala]
GO
ALTER TABLE [dbo].[SalaEstado]  WITH CHECK ADD  CONSTRAINT [FK_SalaEstado_Partida1] FOREIGN KEY([PartidaId])
REFERENCES [dbo].[Partida] ([Id])
GO
ALTER TABLE [dbo].[SalaEstado] CHECK CONSTRAINT [FK_SalaEstado_Partida1]
GO
ALTER TABLE [dbo].[SalaEstado]  WITH CHECK ADD  CONSTRAINT [FK_SalaEstado_Sala1] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([Id])
GO
ALTER TABLE [dbo].[SalaEstado] CHECK CONSTRAINT [FK_SalaEstado_Sala1]
GO
USE [master]
GO
