USE [master]
GO
/****** Objeto: Database [sala_de_escape] Fecha de script: 12/9/2026 11:03:40 ******/
CREATE DATABASE [sala_de_escape]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sala_de_escape', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\sala_de_escape.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sala_de_escape_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\sala_de_escape_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sala_de_escape].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sala_de_escape]
GO
/****** Objeto: Table [dbo].[Participante] Fecha de script: 12/9/2026 11:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK__Particip__3214EC071F1AC53E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Partida] Fecha de script: 12/9/2026 11:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParticipanteId] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
	[SalaActual] [int] NULL,
 CONSTRAINT [PK__Partida__3214EC07CA40B4DE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Participante] ADD  CONSTRAINT [DF__Participa__Fecha__412EB0B6]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Partida] ADD  CONSTRAINT [DF__Partida__FechaIn__440B1D61]  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Partida] ADD  CONSTRAINT [DF__Partida__Estado__44FF419A]  DEFAULT ('EnCurso') FOR [Estado]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Participante] FOREIGN KEY([ParticipanteId])
REFERENCES [dbo].[Participante] ([Id])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Participante]
GO
USE [master]
GO
